@import "../../styles/style";

.leftBar {
      flex: 2;
      margin-top: 1rem;
      height: calc(100vh - 110px);
      overflow: scroll;
      background-color: white;
      color: black;
      border-radius: 15px;
      box-shadow: 0 5px 10px grey;
      // z-index:-1;
  
      &::-webkit-scrollbar {
        display: none;
      }
  
      .container {
        padding: 20px;
  
        hr {
          margin: 20px 0px;
          border: none;
          height: 0.5px;
          background-color: grey;
        }
  
        .menu {
          display: flex;
          flex-direction: column;
          gap: 20px;
  
          span {
            font-size: 12px;
          }
  
          .user {
            display: flex;
            align-items: center;
            gap: 10px;
  
            img {
                width : 0px
            }
  
            span {
              font-size: 14px;
            }
          }
  
          .item {
            display: flex;
            align-items: center;
            gap: 10px;
  
            img {
              width: 30px;
            }
  
            span {
              font-size: 14px;
            }
          }
        }
      }
    
  }